fastapi
langchain
langchain-community
pandas
openai
uvicorn
python-multipart
matplotlib==3.8.4
plotly==5.22.0
kaleido
scipy
shap==0.46.0
scikit-learn==1.4.2
numpy==1.26.4
xgboost==2.1.1
lightgbm==4.5.0

